<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prjOficinaMecanica.Properties.Settings.tcc_OficinaMecanicaConnectionString"
            connectionString="Data Source=motorhead;Initial Catalog=db_05068_14_A_1_2017;Persist Security Info=True;User ID=05068_14_A_1_2017;Password=Luizflavio123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>