<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prjOficinaMecanica.Properties.Settings.tcc_OficinaMecanicaConnectionString"
            connectionString="Data Source=desktop-alex;Initial Catalog=tcc_OficinaMecanica;Persist Security Info=True;User ID=alex;Password=alex123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>

    <add key="tema" value="Claro" />
    <add key="senha" value="admin" />
    <add key="usarSenha" value="1" />
    <add key="abrirForm" value="Nenhum" />
    
  </appSettings>
</configuration>